<!DOCTYPE html>
<html lang="en" data-ng-app="assetTracking">
<head>
    <meta charset="ISO-8859-1">
    <title>Asset Tracking</title>
    <link href="resources/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="resources/css/style.css" rel="stylesheet"/>
    <link href="resources/font-awesome/css/font-awesome.css" rel="stylesheet"/>
</head>
<body data-ng-controller="mapController" id="mapController" data-ng-init="init()">
<div class="search-float " style="width: 30%">
    <div class="input-group">
        <input class="form-control" id="search-text" ng-change="resetIcon()" ng-model="searchText"
               placeholder="Search here"
               type="search" aria-autocomplete="false">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" id="basic-addon1" ng-click="clearSearch()" data-toggle="collapse"
                    data-target="#filter-collapse" aria-expanded="false" aria-controls="collapseExample"><i
                    class="fa fa-filter" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="collapse" id="filter-collapse" ng-controller="filterController">
        <form>
            <div class="card card-body">
                <div class="form-group">
                    <label for="field">Field</label>
                    <select class="form-control" id="Field" ng-model="filterObj.field">
                        <option value="YI">Year Installed</option>
                        <option value="UC">Unit Cost</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="operation">Operation</label>
                    <select class="form-control" id="operation" ng-model="filterObj.operation">
                        <option value="GT">Greater than</option>
                        <option value="LT">Lesser than</option>
                        <option value="EQ">Equals</option>
                        <option value="BETWEEN">Between</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sValue" ng-hide="filterObj.operation == 'BETWEEN'">Value</label>
                    <label for="sValue" ng-show="filterObj.operation == 'BETWEEN'">From Value</label>
                    <input type="number" class="form-control" id="sValue" placeholder="Enter value here"
                           ng-model="filterObj.value">
                </div>
                <div class="form-group" ng-if="filterObj.operation == 'BETWEEN'">
                    <label for="eValue">To Value</label>
                    <input type="number" class="form-control" id="eValue" placeholder="Enter value here"
                           ng-model="filterObj.evalue">
                </div>

            </div>
            <div class="card card-footer">
                <button type="button" class="btn btn-primary" ng-click="filterIt()">Apply</button>
                <button type="reset" class="btn btn-default" ng-click="resetIcons()">Clear</button>
            </div>
        </form>
    </div>
    <ul class="list-group" ng-if="searchText">
        <li class="list-group-item" ng-if="(cd.coordinates |filter:searchText).length > 0"
            ng-repeat="cd in categoryDropdown">
            <h3 class="list-group-item-heading" ng-click="showCategoryMarkers(cd.category)">{{cd.category}}</h3>
            <p class="list-group-item-text" ng-click="showMarker(A.uuid)"
               ng-repeat="A in cd.coordinates |filter:searchText">
                {{A.name}}</p>
        </li>
    </ul>
    <br/>
    <select class="form-control" ng-model="floorSwitch" id="floor-switch" ng-change="getFloorImg()"
            ng-options="floor as floor.name for floor in floors track by floor.id">
    </select>
</div>

<div class="container-fluid" id="container-map" style="width: 80% !important">
    <section class="col-md-7">
        <img alt="Image" id="image" ng-src="{{floorSrc}}">
    </section>
    <div id="icons-map"></div>

    <div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Asset Information</h4>
                </div>
                <form id="modal-form">
                    <div class="modal-body">

                        <input id="map-x" type="hidden"/>
                        <input id="map-y" type="hidden"/>
                        <input id="icon-uuid" type="hidden"/>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" ng-model="asset.category">
                                <option value="Architectural">Architectural</option>
                                <option value="Electrical">Electrical</option>
                                <option value="Mechanical">Mechanical</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" id="name" ng-model="asset.name" placeholder="Enter Name here"
                                   type="text"
                            >
                        </div>

                        <div class="form-group">
                            <label for="code">Uniformat</label>
                            <input class="form-control" ng-model="asset.code" id="code" placeholder="Enter System Uniformat here" type="text">
                        </div>
                        <div class="form-group">
                            <label for="code">Year Installed</label>
                            <input class="form-control" ng-model="asset.year" id="yearInstalled"
                                   placeholder="Enter installed year here"
                                   type="number">
                        </div>
                        <div class="form-group">
                            <label for="code">Unit Cost</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-usd" aria-hidden="true"></i>

                                    </span>
                                </div>
                                <input class="form-control" ng-model="asset.unitCost" id="unitCost"
                                       placeholder="Enter unit cost here"
                                       type="number">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="modal-submit" type="submit">Save
                        </button>
                        <button type="button" class="btn btn-default" onclick="onModalClose()" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div aria-live="polite"  aria-atomic="true" >
        <div class="toast bg-danger" data-delay="3000" style="position: absolute; top: 10px; left:10px;">
            <div class="toast-body text-white">
               {{asset.errorMessage}}
            </div>
        </div>
    </div>
</div>

<script src="resources/bootstrap/jquery-3.5.1.slim.min.js"
        type="text/javascript"></script>
<script src="resources/bootstrap/js/bootstrap.js"
        type="text/javascript"></script>

<script src="resources/bootstrap/popper.min.js" type="text/javascript"></script>
<script src="resources/angularjs/angular.min.js" type="text/javascript"></script>
<script src="resources/js/modalform.js" type="text/javascript"></script>
<script src="resources/js/modalform-ng.js" type="text/javascript"></script>
<script src="resources/js/filter-ng.js" type="text/javascript"></script>
</body>
</html>