head, body {
    width: 100%;
    height: 100%;
}

.icon {
    position: absolute;
    top: 50px;
    left: 200px;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
}

h3{
    color: white;
    background-color: darkcyan;
    padding: 0 5px;
}

.search-float{
    position: fixed;
    top:20px;
    right:20px;
    z-index:1000;
}

.search-float > ul{
    box-shadow: 2px 5px #888888;
}
.search-float h3:hover {
    background-color: #0f6674;
}
.search-float p:hover {
    background-color: lightgrey;
}
.hightlight-icon {
    font-size: 3em !important;
}
.list-group {
    max-height: 500px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
svg text {
    font-family: FontAwesome;
}